body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
}

.menu button {
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
}

.gameArea {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #333;
    overflow: hidden;
    display: none;
}

.road {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: gray;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
}

.lane {
    width: 30%;
    height: 100%;
    background: #555;
    margin: 0 5px;
}

.car {
    position: absolute;
    width: 50px;
    height: 100px;
    background: red;
    top: calc(100vh - 120px);
    left: calc(50vw - 25px);
}

.enemy {
    position: absolute;
    width: 50px;
    height: 100px;
    background: blue;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
}

#resetButton, #menuButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#menuButton {
    right: 80px;
}
